@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This site is demo for Automation Test Case Analyzer and Management.</p>
    <p>Login to see ,more details.</p>
</div>
