html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lavender;
}
footer {
    background-color: lightgray;
}
.redtest {
    background-color: pink;
}

.greentest {
    background-color: lightcyan;
}
